*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    max-width: 100%;
    font-family:'Inter',sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0px 60px;
    height: 98px;
    /* width: 1551px; */
    background: #ffffff 100%;
    
}
.for-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ul,li,a{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 35px;
    font-family: 'Inter';
    margin-top:12px;
    margin-bottom: 12px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;


}
.btn{
    text-decoration:none;
    background:#1d4ed8;
    color:white;
    padding:12px 25px;
    border-radius:8px;
    font-weight:600;
    display: inline-block
    justify-content: space-between;
}
.hero-parent{
    text-align: center;
    color: #ffffff;

}
.hero-parent h1{
    padding: 8px;
    height: 95px;
    width: 959px;
    font-weight: 600;
}
.hero-parent span{
    font-style:italic;
}
.hero-parent p{
    height: 108px;
    width: 829px;
    font-size: 24px;
    
}
section{
    height: 786px;;
    /* width: 1551px; */
    background-image:url(./assets/banner.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.big-button{
    width: 282px;
    height: 74px;
    text-decoration:none;
    background:#1d4ed8;
    color:white;
    border-radius:20px;
    font-weight:600;
    font-size: 20px;
    margin-top: 200px;
    cursor: pointer;
}
.bg{
    position: relative;
}
.bg::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.6);
}

.hero-parent{
    position:relative;
    z-index:1;
}